body{
    background-color: #fae5df;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.container{
    display: grid;
    grid-gap: 3px;
    width: 360px;
    height: 360px;
}

div.container > div{
    background-color: #ed7966;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fae5df;
    width: 100%;
    height: 100%;
 
}